body{
    background: linear-gradient(#9381ff,#f8f7ff,#ffd8be);
}
.header{
    background-color: #a5ffd6;
    font-size: 45px;
    font-family: 'Tapestry', cursive;
    font-weight: bold;
}
.note{
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}
.under{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 40px;
    line-height: 100;
    background-color: beige;
}